nav {
  background: linear-gradient(to right, #950b0b, #440606);
  color: #fff;

  .container {
    padding: 10px;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 1.5rem;
        margin-right: auto;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          font-size: 22px;
          color: #fff;
          text-decoration: none;
          margin-left: 10px;
        }
      }
    }
  }
}
